header {
    margin: 0em;
    padding: 0em;
}

header .titles {
    padding: 0em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
}


header h1 {
    color: yellow;
    box-shadow: none;
    text-align: left;
    padding: 0px;
    font-size: 250%;
}

header h2 {
    color: white;
    box-shadow: none;
    border: none;
    margin: inherit;
    text-align: left;
    padding: 0px;
    font-size: 150%;
}

header img {
    border-radius: 20px;
    text-align: center;
}

h1 {
    color: dodgerblue;
}

h2 {
    text-align: center;
    bottom-border: 1px solid darkgray;
}

h1,
h2,
h3 {
    margin: 20px;
    padding: 20px;
}

p {
    margin: 1.3em;
}

li {
    margin: 0em;
}



/* --------------------------
        C L A S S E S
*/

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.card {
    border: 1px solid gray;
    max-width: 800px;
    margin: 2em auto;
}
